* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #000;
  background: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.2rem;
}

.main-nav .main-menu {
  display: flex;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 2rem;
}

.main-nav .right-menu {
  display: flex;
}

.logo {
  width: 11rem;
}

.main-nav ul li {
  padding: 0 0.7rem;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 350px;
  background: url('./img/slide1.png') no-repeat center center/cover;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding: 50px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  background: #262626;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.8;
}

/* HOME-CARD */
