* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #000;
  background: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #262626;
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}

/* NAV */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  font-size: 1.2rem;
}

.main-nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav ul.main-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2rem;
}

.main-nav .right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .logo {
  width: 11rem;
}

.main-nav ul li {
  padding: 0 0.7rem;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 350px;
  background: url("./img/slide1.png") no-repeat center center/cover;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px;
}

.showcase .showcase h2,
.showcase .showcase p {
  margin-bottom: 10px;
}

.showcase .showcase .btn {
  margin-top: 10px;
}

.showcase .btn {
  cursor: pointer;
  background: #262626;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}

.showcase .btn:hover {
  opacity: 0.8;
}

.slideshow {
  /* Slideshow container */
  /* The dots/bullets/indicators */
}

.slideshow .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* Fading animation */
}

.slideshow .slideshow-container .mySlides {
  display: none;
  /* SHOWCASE */
  /* XBox */
}

.slideshow .slideshow-container .mySlides .showcase {
  width: 100%;
  height: 350px;
  background: url("./img/slide1.png") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px;
}

.slideshow .slideshow-container .mySlides .showcase .showcase h2,
.slideshow .slideshow-container .mySlides .showcase .showcase p {
  margin-bottom: 10px;
}

.slideshow .slideshow-container .mySlides .showcase .showcase .btn {
  margin-top: 10px;
}

.slideshow .slideshow-container .mySlides .showcase .btn {
  cursor: pointer;
  background: #262626;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}

.slideshow .slideshow-container .mySlides .showcase .btn:hover {
  opacity: 0.8;
}

.slideshow .slideshow-container .mySlides .xbox {
  width: 100%;
  height: 350px;
  background: url("./img/xbox.png") no-repeat center center/cover;
}

.slideshow .slideshow-container .mySlides .xbox .content {
  width: 40%;
  padding: 2rem 0 0 2rem;
}

.slideshow .slideshow-container .mySlides .xbox .content h2 {
  font-size: 1.5rem;
}

.slideshow .slideshow-container .mySlides .xbox .content p {
  margin: 1rem 0 1.2rem;
  font-size: 0.9rem;
}

.slideshow .slideshow-container .mySlides .carousel {
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  /* padding: 32px; */
  /* padding-left: 86px; */
  /* padding-right: 48px; */
  padding: 32px 48px 32px 86px;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 86px;
}

.slideshow .slideshow-container .mySlides .carousel img {
  height: 200px;
  border-radius: 8px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.slideshow .slideshow-container .mySlides .carousel .testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.slideshow .slideshow-container .mySlides .carousel .testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.slideshow .slideshow-container .mySlides .carousel .testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

.slideshow .slideshow-container .prev,
.slideshow .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slideshow .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow .slideshow-container .prev:hover,
.slideshow .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow .slideshow-container .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slideshow .slideshow-container .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideshow .slideshow-container .active {
  background-color: #717171;
}

.slideshow .slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.slideshow .dot:hover {
  background-color: #717171;
}

/* HOME-CARD */
/*# sourceMappingURL=style.css.map */