@import 'config';
@import 'utilities';

@import 'global';

@import 'navbar';

.landing {
  position: relative;

  background: url('../img/showcase.jpg') no-repeat center center/cover !important;
  height: 100vh;
}


